.fl {
  float: left;
}

.fr {
  float: right;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.pagination-div {
  text-align: right;
  padding: 10px 10px 5px 0;
}

.dialog-footer {
  text-align: center;
}

.dialog-btn {
  width: 90px;
  height: 34px;
  padding: 0;
}

.common-btn {
  display: inline-block;
  color: #5D8ADE;
  border: #5D8ADE 1px solid;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.common-btn:hover {
  color: #5D8ADEBB;
  border: #5D8ADEBB 1px solid;
}

.common-fill-btn {
  display: inline-block;
  background-color: #5D8ADE;
  color: white;
  font-size: 14px;
  padding: 7px 12px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.common-fill-btn:hover {
  background-color: #5D8ADEBB;
}

.common-btn-img {
  width: 11px;
}

.search-div {
  height: 32px;
  background-color: #5D8ADE;
  padding: 0 14px;
  display: flex;
  align-items: center;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

.search-div:hover {
  background-color: #5D8ADEBB;
}

.manager-div {
  padding: 22px 35px 0 36px;
}

.custom-input-width {
  width: 155px;
}
