@charset "utf-8";
/* 雅虎 https://github.com/yui/yui3/blob/master/src/cssreset/css/cssreset.css*/
html{
	color:#000;
	background:#FFF;
}
a{
	text-decoration: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin:0;
	padding:0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

em,
/*strong,*/
b,
u,
i {
	font-style:normal;
	font-weight:normal;
}

ol,
ul {
	list-style:none;
}

h1,
h2,
h3{
	font-size:100%;
	font-weight:normal;
}

input,
textarea,
select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	*font-size:100%; /*to enable resizing for IE*/
}

img {
	border:0 none;
}